adapters/qwen35_2b_base/lora_v2_fullchat_old25k_r8_alpha16_mixedval2500_v2_schemaheaderfix_evalstop_maxlen2048_epochs5/adapter_model.safetensors filter=lfs diff=lfs merge=lfs -text
adapters/llama32_3b_instruct/lora_v2_fullchat_old25k_r8_alpha16_mixedval2500_v2_schemaheaderfix_evalstop_maxlen2048_epochs5/adapter_model.safetensors filter=lfs diff=lfs merge=lfs -text
adapters/qwen35_9b_base/lora_v2_fullchat_old25k_r8_alpha16_mixedval2500_v2_schemaheaderfix_evalstop_maxlen2048_epochs5/adapter_model.safetensors filter=lfs diff=lfs merge=lfs -text
