adapters/qwen35_2b_base/lora_v2_fullchat_old25k_r8_alpha16_mixedval2500_v2_schemaheaderfix_evalstop_maxlen2048_epochs5/adapter_model.safetensors filter=lfs diff=lfs merge=lfs -text
adapters/llama32_3b_instruct/lora_v2_fullchat_old25k_r8_alpha16_mixedval2500_v2_schemaheaderfix_evalstop_maxlen2048_epochs5/adapter_model.safetensors filter=lfs diff=lfs merge=lfs -text
adapters/qwen35_9b_base/lora_v2_fullchat_old25k_r8_alpha16_mixedval2500_v2_schemaheaderfix_evalstop_maxlen2048_epochs5/adapter_model.safetensors filter=lfs diff=lfs merge=lfs -text
data/sql_create_context/train_sft_qwen35_2b_base_full_chat_v1_clean_anti_overjoin_mix_spider_train_sqlcc_spider_schema_harmonized_complexity_enriched_25k_seed42_no_dev_overlap.jsonl filter=lfs diff=lfs merge=lfs -text
data/sql_create_context/train_sft_qwen35_9b_base_full_chat_v1_clean_anti_overjoin_mix_spider_train_sqlcc_spider_schema_harmonized_complexity_enriched_25k_seed42_no_dev_overlap.jsonl filter=lfs diff=lfs merge=lfs -text
data/sql_create_context/train_sft_llama32_3b_instruct_full_chat_v2_old25k_no_dev_overlap_seed42.jsonl filter=lfs diff=lfs merge=lfs -text
data/sql_create_context/val_sft_qwen35_full_chat_v2_mixed_trainothers700_sqlcc1800_no_train_no_dev_overlap_seed42_schemaheaderfix.jsonl filter=lfs diff=lfs merge=lfs -text
data/sql_create_context/val_sft_llama32_3b_instruct_full_chat_v2_mixed_trainothers700_sqlcc1800_no_train_no_dev_overlap_seed42_schemaheaderfix.jsonl filter=lfs diff=lfs merge=lfs -text
